$color-alliance-yellow: #D6AB00;
$color-alliance-darker-yellow: #F5C400;
$color-alliance-darkest-yellow: #8A6E00;
$color-alliance-digital-grey: #32322F;
$color-alliance-light-grey: #999;
$color-alliance-lighter-grey: #CCC;
$color-alliance-lightest-grey: #888;
$color-white: #FFF;
$color-alliance-darker-teal: #007283;
