@use '../variables/colours' as *;

/* This is added to the header of the Write Plan section in the Plans*/
.heading-button > .panel-heading, .panel-default > .panel-heading {
  color: $color-alliance-digital-grey;
  background-color: $color-alliance-lighter-grey;
  border-top: 3px solid $color-alliance-yellow;
  cursor: pointer;
  transition: color 1s ease, background 1s ease; /* Combine transitions */

  &:hover,
  &:focus {
    background-color: $color-alliance-yellow;
    i.fas.fa-plus.pull-right,
    i.fas.pull-right.fa-minus{
      color: $color-alliance-digital-grey;
    }
  }
}

/* Guidance collapse bar in Templates section icon color issues fix on-hover OR on focus*/
.panel-heading {
  &:hover,
  &:focus {
    i.fas.pull-left.fa-minus,
    i.fas.fa-plus.pull-left,
    i.fas.fa-arrows-alt.pull-right{
      color: $color-alliance-digital-grey !important;
    }
  }
}
