/*
  Colors
  - to be used as utilities within this file to define text+bg colors
*/
$color-black: #000;
$color-white: #FFF;
$color-red: #b94a48;
$color-green: #4c8d3f;
$color-grey: #4F5253;
$color-grey-darkest: #222;
$color-grey-darker: #333;
$color-grey-light: #777;
$color-grey-lighter: #999;
$color-blue: #337ab7;
$color-blue-alice-darkest: #107896;
$color-muted: #CCC;
$color-portage-blue: #1f3d7d;
$color-portage-blue-darker: darken($color-portage-blue, 10%);
$color-portage-orange: #FB9C26;
$color-portage-orange-darker: darken($color-portage-orange, 10%);
$color-alliance-digital-grey: #32322F;


/*****
Rebranding: not change the name, just color code
*****/
$color-portage-blue: #D6AB00; //Digital Grey to replace portage network blue
$color-portage-blue-darker: darken($color-portage-blue, 10%);
$color-alliance-yellow: #D6AB00;
$color-alliance-white: #FBFAFA;
$color-alliance-teal: #00DBA7;
$color-alliance-grey: #B7B6B3;

$color-grey-darkest: $color-portage-blue;
$color-grey-light: $color-alliance-grey;
$color-portage-orange: $color-alliance-yellow;
$color-portage-orange-darker: darken($color-portage-orange, 10%);

/*
  Variables to define look and feel
*/
// Backgrounds
$color-primary-background: $color-portage-blue;
$color-secondary-background: $color-white;
$color-muted-background: $color-muted;
$color-navbar-background: $color-white;
$color-navbar-background-active: $color-white;
$color-footer-background: $color-grey-darkest;
$color-tooltip-background: $color-primary-background;
$color-icon-bar-background: $color-white;

// Text
$color-primary-text: $color-portage-blue;
$color-secondary-text: $color-portage-blue;
$color-heading-text: $color-portage-blue;
$color-navbar-text: $color-portage-blue;
$color-navbar-text-hover: $color-portage-blue;
$color-navbar-text-disabled: $color-grey-darker;
$color-link-text: $color-portage-blue;
$color-navbar-link-text: $color-portage-blue;
$color-org-navbar-links: $color-portage-blue;
$color-org-navbar-links-hover: $color-portage-blue-darker;
$color-dropdown-inverse-text: $color-portage-blue;
$color-dropdown-inverse-text-hover: $color-white;
// $color-footer-links:;
// $color-footer-links-hover:;
// $color-tooltip-text:;
$color-text-red: $color-red;
$color-text-grey: $color-grey;
$color-text-black: $color-black;

// Borders colors
$color-border-default: $color-alliance-yellow;
$color-border-light: #ddd;
$color-dropdown-inverse-border: $color-portage-blue;
$color-navbar-border: darken($color-navbar-background, 10%);
$navbar-branding-toggle-hover-bg: #ddd;

// Shadow colors
$color-shadow-dark: $color-black;

// FontAwesome Colors
$color-fa: $color-portage-blue;

// Focus colors
$color-focus-outline: $color-portage-blue-darker;

/*****
Rebranding: some color variable needs to be switched to another one
*****/

// Backgrounds
$color-primary-background: $color-alliance-yellow;
$color-secondary-background: $color-alliance-white;
$color-navbar-background: $color-alliance-white;
$color-navbar-background-active: $color-alliance-white;
$color-primary-text: $color-portage-blue;

// Borders colors
$color-border-default: $color-alliance-yellow;
$color-border-light: $color-alliance-yellow;

//Text
$color-org-navbar-links-hover: $color-alliance-yellow;





/*****
GREY BRANDING: not change the name, just color code
*****/

$color-alliance-darker-yellow: #F5C400; //Tomorrow yellow to pass the AAA of webAim


$color-portage-blue: #32322F; //Digital Grey to replace portage network blue

//Background
$color-primary-background: $color-portage-blue;
$color-tooltip-background: $color-primary-background;

// Focus colors
$color-focus-outline: $color-portage-blue-darker;


// Text
$color-primary-text: $color-alliance-darker-yellow;
$color-secondary-text: $color-alliance-digital-grey;
$color-heading-text: $color-portage-blue;
$color-navbar-text: $color-alliance-digital-grey;
$color-navbar-text-hover: $color-alliance-digital-grey;
$color-navbar-text-disabled: $color-alliance-digital-grey;
$color-link-text: $color-alliance-digital-grey;
$color-navbar-link-text: $color-alliance-digital-grey;
$color-org-navbar-links: $color-alliance-digital-grey;
$color-org-navbar-links-hover: $color-portage-blue-darker;
$color-dropdown-inverse-text: $color-alliance-digital-grey;
$color-dropdown-inverse-text-hover: $color-alliance-digital-grey;
// $color-footer-links:;
// $color-footer-links-hover:;
// $color-tooltip-text:;
$color-text-red: $color-red;
$color-text-grey: $color-grey;
$color-text-black: $color-black;


// Backgrounds
$color-primary-background: $color-alliance-darker-yellow;
$color-primary-text: $color-alliance-darker-yellow;

// Borders colors
$color-border-default: $color-alliance-digital-grey;
$color-border-light: $color-alliance-digital-grey;


