@use '../variables/bootstrap' as *;
@use '../variables/colours' as *;
/* For dark (inverse) navbars */
.inverse-dropdown {
  background-color: $dropdown-inverse-bg !important;
  border-color: $dropdown-inverse-border !important;
  & > li > a {
    color: $dropdown-inverse-text !important;
    &:hover {
      color: $color-alliance-darker-yellow !important;
      background-color: $color-alliance-digital-grey !important;
    }
  }
  .active a {
    color: $color-alliance-darker-yellow !important;
    background-color: $color-alliance-digital-grey !important;
  }
}
