@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

/* HEADER LOGOS */
.app-logo {
  height: 80px;
  padding-right: calc($grid-gutter-width / 2);
}

.org-logo {
  height: 65px;
  padding-right: calc($grid-gutter-width / 2);
}
