#password-requirements {
  display: none; // hidden by default

  &.visible {
    display: block;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: #f9f9f9;
    padding: 0.5rem;
  }

  ul {
    list-style: none;
    padding-left: 1em;
  }

  .rule-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;

    &.fa-circle-check {
      color: green;
    }
    &.fa-circle-xmark {
      color: grey;
    }
  }
}